/*
CSS for Project 1, a movie selection webpage
*/
/* 
    Last modified on : July 7, 2016
    Author     : CJ
*/

/*removes top margin*/
body
{
    margin: 0px;
}
/*sets width for main sections*/
.head, .data_container
{
    width: 95%;
    min-width: 250px;
}
/*header section*/
.head
{
    background-color: #f2f2f2;
    height: 50px;
    position: fixed;
    z-index: 100;
    margin: 0px;
    border-bottom: 1px lightgray solid;
}

.head .logo
{
    position: fixed;
    height: 50px;
    width: 50px;
    top: 2px;
    left: 10px;
}

@font-face
{
    font-family: Oleo;
    src: url(../fonts/Oleo.woff);
}

.head .banner
{
    position: fixed;
    font-family: Oleo;
    top: 20px;
    left: 80px;
    width: auto;
}
/*header search bar styles*/
.head .search
{
    position: fixed;
    top: 20px;
    left: 250px;
    width: 470px;
    z-index: 100;
}

.head input.text
{
    width: 420px;
    max-width: 420px;
    color: black;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    margin: 0px;
}

.head button
{
    position: absolute;
    left: 420px;
    width: 50px;
    font-family: "Times New Roman";
    font-size: 15px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    color: white;
    background-color: #0099FF;
    background-image: -webkit-linear-gradient(#92cfde, #0099FF);
    background-image: -moz-linear-gradient(#92cfde, #0099FF);
    background-image: -ms-linear-gradient(#92cfde, #0099FF);
    background-image: -o-linear-gradient(#92cfde, #0099FF);
    background-image: linear-gradient(#92cfde, #0099FF);
}

.head button:hover
{
    cursor: pointer;
}

.head .suggestions
{
    position: absolute;
    top: 20px;
    z-index: 100;
    padding: 0px 5px;
    border-color: lightgray;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    width: 460px;
    overflow: auto;
    display: none;
}

.head .sub_suggestions
{
    width: 460px;
}

.head .sub_suggestions:hover
{
    background-color: rgb(245,245,245);
}
/*main data section*/
.data_container
{
    position: absolute;
    top: 60px;
}
/*icon and sort div section*/
.icons
{
    position: relative;
    width: 98%;
    height: 30px;
    top: 10px;
    left: 15px;
}

.icons img
{
    float: right;
}

.icons img:hover, #combo_box:hover
{
    cursor: pointer;
}
/*movie display section*/
/*grid styles*/
.grid
{
    position: relative;
    top: 10px;
}

.grid .movie
{
    position: relative;
    float: left;
    margin: 30px 0px 0px 30px;
    width: 200px;
    height: 200px;
    z-index: 5;
}

.grid .movie .photo
{
    position: relative;
    background-color: white;
    padding: 5px;
    border: 1px solid lightgray;
    width: 188px;
    height: 188px;
}

.grid .movie .hd
{
    position: absolute;
    height: 30px;
    width: 40px;
    top: 15px;
    left: 15px;
}

.hd_hide
{
    display: none;
}

.grid .movie .title, .grid .movie .year
{
    transition: height 1s, background-color 0.5s;
    -webkit-transition:  height 1s, background-color 0.5s;
    -moz-transition:  height 1s, background-color 0.5s;
    -o-transition:  height 1s, background-color 0.5s;
}

.grid .movie .starring, .grid .movie .star_label
{
    transition: opacity 0.5s;
    -webkit-transition:  opacity 0.5s;
    -moz-transition:  opacity 0.5s;
    -o-transition:  opacity 0.5s;
}

.grid .movie .title
{
    position: absolute;
    left: 6px;
    bottom: 6px;
    height: 40px;
    width: 188px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.grid .movie .year
{
    position: absolute;
    background-color: rgba(0,0,0,0);
    color: white;
    left: 6px;
    bottom: 8px;
    height: 20px;
    width: 188px;
    line-height: 20px;
    text-align: center;
}

.grid .movie .starring
{
    position: absolute;
    left: 6px;
    bottom: 6px;
    color: white;
    width: 186px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    opacity: 0;
    padding: 0px 0px 0px 2px;
}

.grid .movie .star_label
{
    position: absolute;
    left: 6px;
    bottom: 6px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    width: 186px;
    height: 40px;
    line-height: 24px;
    font-weight: bold;
    opacity: 0;
    padding: 0px 0px 0px 2px;
}

.grid .movie:hover .star_label
{
    opacity: 1;
}

.grid .movie:hover .starring
{
    opacity: 1;
}
.grid .movie:hover .title
{
    background-color: rgba(0,0,0,0.6);
    height: 120px;
}

.grid .movie:hover .year
{
    height: 100px;
}

.grid .movie .description, .grid .movie .rating, .grid .movie .rate_label
{
    display: none;
}
/*list styles*/
.list
{
    position: relative;
    top: 10px;
}

.list .movie
{
    position: relative;
    display: block;
    background-color: rgb(245,245,245);
    width: 70%;
    height: 240px;
    padding: 10px;
    border-bottom: lightgray 1px dotted;
    z-index: 5;
}

.list .movie .photo
{
    position: relative;
    float: left;
    background-color: white;
    margin: 10px 0px;
    padding: 5px;
    border: 1px solid lightgray;
    width: 188px;
    height: 188px;
}

.list .movie .title
{
    position: relative;
    display: inline;
    margin: 0px 0px 0px 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.list .photo_container .hd
{
    position: absolute;
    height: 30px;
    width: 40px;
    top: 30px;
    left: 20px;
}

.list .movie .year
{
    position: relative;
    display: inline;
    line-height: 22px;
    margin: 0px 0px 0px 5px;
    color: gray;
    font-size: 15px;
}

.list .movie .title_container
{
    position: relative;
    float: left;
    width: 450px;
    margin: 0px 10px;
}

.list .movie .star_container, .list .movie .rate_container
{
    position: relative;
    float: left;
    width: 450px;
    margin: 10px 10px;
}

.list .movie .description
{
    position: relative;
    float: left;
    margin: 0px 0px 0px 10px;
    padding: 10px 0px 0px 10px;
    display: block;
    line-height: 1.5em;
    background-color: rgb(236,255,255);
    top: 10px;
    color: black;
    width: 450px;
    font-size: 15px;
}

.list .rate_container .rating, .list .star_container .starring
{
    position: relative;
    display: inline;
    vertical-align: top;
    margin: 0px 0px 0px 5px;
}

.list .star_container .star_label, .list .rate_container .rate_label
{
    position: relative;
    display: inline;
    margin: 0px 0px 0px 10px;
    font-weight: bold;
}

.star
{
    height: 20px;
    width: 20px;
    padding: 0px 2px;
}